openapi: 3.0.0
info:
  title: swe inverview
  description: API to compare your pokemons
  version: 1.0.0
servers:
  - url: http://localhost:8080/api/v1
tags:
  - name: Pokemon Compare
paths:
  /pokemon-compare/damage/:
    get:
      tags:
        - Damage
      summary:
        Compare two Pokemons to determine if one could give the double of damage
        to the other or not.
      description: |
        Gets the damage details of a possible fight between two pokemons
      operationId: get
      parameters:
        - name: pokemon1
          in: query
          description:
            The first pokemon to compare if it can receive or grant the double
            of damage.
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: pokemon2
          in: query
          description:
            The second pokemon to compare if it can receive or grant the
            double of damage.
          required: false
          style: form
          explode: true
          schema:
            type: string
      responses:
        "200":
          description: Returned the result of the comparision between two Pokemons.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Damage"
        "400":
          description: Bad request
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
      x-swagger-router-controller: Damage
  /pokemon-compare/moves/:
    get:
      tags:
        - Moves
      summary:
        Compare two or more Pokemons to determine which moves they have in
        common.
      description: |
        Gets the common moves two or more Pokemons have in common.
      operationId: get
      parameters:
        - name: pokemons
          in: query
          description: The list of Pokemons that will be compared to get their moves.
          required: false
          style: form
          explode: false
          schema:
            minItems: 2
            type: array
            items:
              type: string
      responses:
        "200":
          description: Returned the result of the common moves between 2 or more Pokemons.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Moves"
        "400":
          description: Bad request
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
      x-swagger-router-controller: Moves
components:
  schemas:
    Damage:
      type: object
      properties:
        deal_double_damage:
          type: boolean
          example: true
        receive_half_damage:
          type: boolean
          example: false
        receive_zero_damage:
          type: boolean
          example: true
      example:
        deal_double_damage: true
        receive_zero_damage: true
        receive_half_damage: false
    Moves:
      type: object
      properties:
        moves:
          type: array
          example:
            - thunderbolt
            - thunder-punch
            - thunder-shock
      example:
        moves:
          - thunderbolt
          - thunder-punch
          - thunder-shock
    Problem:
      type: object
      properties:
        title:
          type: string
          description: |
            A short, summary of the problem type. Written in english and readable
            for engineers (usually not suited for non technical stakeholders and
            not localized); example: Service Unavailable
          example: Invalid Pokemon.
        status:
          maximum: 600
          exclusiveMaximum: true
          minimum: 100
          type: integer
          description: |
            The HTTP status code generated by the origin server for this occurrence
            of the problem.
          format: int32
          example: 503
        detail:
          type: string
          description: |
            A human readable explanation specific to this occurrence of the
            problem.
          example: The pokemon you entered does not exists.
  parameters:
    Pokemon1:
      name: pokemon1
      in: query
      required: true
      style: form
      explode: true
      schema:
        type: string
    Pokemon2:
      name: pokemon2
      in: query
      required: true
      style: form
      explode: true
      schema:
        type: string
  examples:
    damageExample:
      value:
        deal_double_damage: true
        receive_half_damage: false
        receive_zero_damage: true
